<section id="master" class="gradient-2">
    <div class="pt-8">
        <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
            <!--Left Col-->
            <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
                <p class="uppercase tracking-loose w-full">Feeling Lucky?</p>
                <h1 class="my-4 text-5xl font-bold leading-tight">Bet Field </h1>
                <p class="leading-normal text-2xl mb-8">An easy and fun way to bet on the teams that you love.</p>
    
                <button href=""class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg">Sign Up</button>
    
            </div>
            <!--Right Col-->
            <div class="w-full md:w-3/5 py-6 text-center">
                <img class="w-full md:w-3/5 z-50 ml-16" src="/assets/liga.png">
            </div>
    
        </div>
    
    </div>
<!--- Index--->
<div class="flex flex-wrap mx-auto">
  <% @schedules.each do |s| %>
    <!--Card-->
    <div class="max-w-sm rounded overflow-hidden shadow-lg m-4 bg-white">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2"><%= s.home_team %> vs. <%= s.away_team %></div>
  
        <p class="text-gray-700 text-base">
            Place your bet either here! Buena Suerte!
        </p>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Futbol</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Rivals</span>
      </div>
    </div>
    
    <% end %>
     <!--Card-->
<!--    <div class="max-w-sm rounded overflow-hidden shadow-lg m-4 bg-white">-->
<!--      <img class="w-full" src="/assets/sample.jpg" alt="Sunset in the mountains">-->
<!--      <div class="px-6 py-4">-->
<!--        <div class="font-bold text-xl mb-2">Real Madrid vs. Chelsea</div>-->
<!--        <span class="inline-block rounded-full px-3 py-1 text-lg pl-8 font-semibold text-gray-700 mr-2">60% vs. 40%</span>-->
<!--        <p class="text-gray-700 text-base">-->
<!--            Place your bet either here! Buena Suerte!-->
<!--        </p>-->
<!--      </div>-->
<!--      <div class="px-6 py-4">-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Futbol</span>-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Rivals</span>-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#Spain</span>-->
<!--      </div>-->
<!--    </div>-->
     <!--Card-->
<!--    <div class="max-w-sm rounded overflow-hidden shadow-lg m-4 bg-white">-->
<!--      <img class="w-full" src="/assets/sample.jpg" alt="Sunset in the mountains">-->
<!--      <div class="px-6 py-4">-->
<!--        <div class="font-bold text-xl mb-2">Real Madrid vs. Chelsea</div>-->
<!--        <span class="inline-block rounded-full px-3 py-1 text-lg pl-8 font-semibold text-gray-700 mr-2">60% vs. 40%</span>-->
<!--        <p class="text-gray-700 text-base">-->
<!--            Place your bet either here! Buena Suerte!-->
<!--        </p>-->
<!--      </div>-->
<!--      <div class="px-6 py-4">-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Futbol</span>-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Rivals</span>-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#Spain</span>-->
<!--      </div>-->
<!--    </div>-->
 <!--Card-->
<!--    <div class="max-w-sm rounded overflow-hidden shadow-lg m-4 bg-white">-->
<!--      <img class="w-full" src="/assets/sample.jpg" alt="Sunset in the mountains">-->
<!--      <div class="px-6 py-4">-->
<!--        <div class="font-bold text-xl mb-2">Real Madrid vs. Chelsea</div>-->
<!--        <span class="inline-block rounded-full px-3 py-1 text-lg pl-8 font-semibold text-gray-700 mr-2">60% vs. 40%</span>-->
<!--        <p class="text-gray-700 text-base">-->
<!--            Place your bet either here! Buena Suerte!-->
<!--        </p>-->
<!--      </div>-->
<!--      <div class="px-6 py-4">-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Futbol</span>-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Rivals</span>-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#Spain</span>-->
<!--      </div>-->
<!--    </div>-->
     <!--Card-->
<!--    <div class="max-w-sm rounded overflow-hidden shadow-lg m-4 bg-white">-->
<!--      <img class="w-full" src="/assets/sample.jpg" alt="Sunset in the mountains">-->
<!--      <div class="px-6 py-4">-->
<!--        <div class="font-bold text-xl mb-2">Real Madrid vs. Chelsea</div>-->
<!--        <span class="inline-block rounded-full px-3 py-1 text-lg pl-8 font-semibold text-gray-700 mr-2">60% vs. 40%</span>-->
<!--        <p class="text-gray-700 text-base">-->
<!--            Place your bet either here! Buena Suerte!-->
<!--        </p>-->
<!--      </div>-->
<!--      <div class="px-6 py-4">-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Futbol</span>-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Rivals</span>-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#Spain</span>-->
<!--      </div>-->
<!--    </div>-->
    <!--Card-->
<!--    <div class="max-w-sm rounded overflow-hidden shadow-lg m-4 bg-white">-->
<!--      <img class="w-full" src="/assets/sample.jpg" alt="Sunset in the mountains">-->
<!--      <div class="px-6 py-4">-->
<!--        <div class="font-bold text-xl mb-2">Real Madrid vs. Chelsea</div>-->
<!--        <span class="inline-block rounded-full px-3 py-1 text-lg pl-8 font-semibold text-gray-700 mr-2">60% vs. 40%</span>-->
<!--        <p class="text-gray-700 text-base">-->
<!--            Place your bet either here! Buena Suerte!-->
<!--        </p>-->
<!--      </div>-->
<!--      <div class="px-6 py-4">-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Futbol</span>-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Rivals</span>-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#Spain</span>-->
<!--      </div>-->
<!--    </div>-->
    <!--Card-->
<!--    <div class="max-w-sm rounded overflow-hidden shadow-lg m-4 bg-white">-->
<!--      <img class="w-full" src="/assets/sample.jpg" alt="Sunset in the mountains">-->
<!--      <div class="px-6 py-4">-->
<!--        <div class="font-bold text-xl mb-2">Real Madrid vs. Chelsea</div>-->
<!--        <span class="inline-block rounded-full px-3 py-1 text-lg pl-8 font-semibold text-gray-700 mr-2">60% vs. 40%</span>-->
<!--        <p class="text-gray-700 text-base">-->
<!--            Place your bet either here! Buena Suerte!-->
<!--        </p>-->
<!--      </div>-->
<!--      <div class="px-6 py-4">-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Futbol</span>-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Rivals</span>-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#Spain</span>-->
<!--      </div>-->
<!--    </div>-->
    <!--Card-->
<!--    <div class="max-w-sm rounded overflow-hidden shadow-lg m-4 bg-white">-->
<!--      <img class="w-full" src="/assets/sample.jpg" alt="Sunset in the mountains">-->
<!--      <div class="px-6 py-4">-->
<!--        <div class="font-bold text-xl mb-2">Real Madrid vs. Chelsea</div>-->
<!--        <span class="inline-block rounded-full px-3 py-1 text-lg pl-8 font-semibold text-gray-700 mr-2">60% vs. 40%</span>-->
<!--        <p class="text-gray-700 text-base">-->
<!--            Place your bet either here! Buena Suerte!-->
<!--        </p>-->
<!--      </div>-->
<!--      <div class="px-6 py-4">-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Futbol</span>-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Rivals</span>-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#Spain</span>-->
<!--      </div>-->
<!--    </div>-->
    <!--Card-->
<!--    <div class="max-w-sm rounded overflow-hidden shadow-lg m-4 bg-white">-->
<!--      <img class="w-full" src="/assets/sample.jpg" alt="Sunset in the mountains">-->
<!--      <div class="px-6 py-4">-->
<!--        <div class="font-bold text-xl mb-2">Real Madrid vs. Chelsea</div>-->
<!--        <span class="inline-block rounded-full px-3 py-1 text-lg pl-8 font-semibold text-gray-700 mr-2">60% vs. 40%</span>-->
<!--        <p class="text-gray-700 text-base">-->
<!--            Place your bet either here! Buena Suerte!-->
<!--        </p>-->
<!--      </div>-->
<!--      <div class="px-6 py-4">-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Futbol</span>-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Rivals</span>-->
<!--        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#Spain</span>-->
<!--      </div>-->
<!--    </div>-->
    
<!--</div>-->
</section>

<style>
    .gradient{
    background: linear-gradient(180deg, rgba(5,123,241,1) 0%, rgba(242,135,128,1) 100%);
    }
    
    .gradient-2 {
        background: linear-gradient(180deg, rgba(242,135,128,1) 0%, rgba(5,123,241,1) 100%);
    }
</style>

